.Login {
  text-align: center;
}

.Login-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Login-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Login-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}

@keyframes Login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .LogInButton {
  background-color: #1DB954;
  color: white;
  display: flex;
  text-align: center;
  font-size: large;
  align-items: center;
  padding-left: 50px;
  max-width: 30vmin;
  border-radius: 40px 40px 40px 40px;
} */

.btn-login {
  background-color: #1DB954;
  border-color: #1DB954;
  border-style: none;
  border-radius:  10mm;
  padding-left: 5pc;
  padding-right: 5pc;
  padding-top: 1pc;
  padding-bottom: 1pc;
  font-family: 'inter', sans-serif;
  color: white;
  text-align: center;

  
  box-shadow: none;
}
