.color-nav {
    background-color: rgb(197, 143, 143);
}
.color-dropdown{
    background-color: rgb(197, 143, 143);

}
.top-tracks{
    font-family: 'inter', sans-serif;
    font-size: small;
    text-align: left;
}

/* .Dashboard {
    background-image
} */

