.color-nav {
    background-color: rgb(197, 143, 143);
}
.color-dropdown{
    background-color: rgb(197, 143, 143);

}
.top-tracks{
    font-family: 'inter', sans-serif;
    font-size: small;
    text-align: left;
}

.jumbotron {
    background-image: url(./Assets/Breezy-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
    /* back */

}

.weather {
    margin-right: 900px;
}