.color-nav {
    background-color: rgb(197, 143, 143);
}
.color-dropdown{
    background-color: rgb(197, 143, 143);

}
.top-tracks{
    font-family: 'inter', sans-serif;
    font-size: small;
    text-align: left;
}

.jumbotron {
    background-image: url(./Assets/Breezy-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
    /* back */
}

.jumbotron.cold {
    background-image: url(./Assets/Cold-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
}

.jumbotron.chilly {
    background-image: url(./Assets/Chilly-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
}

.jumbotron.warm {
    background-image: url(./Assets/Warm-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
}

.jumbotron.hot {
    background-image: url(./Assets/Hot-bg.jpg);
    background-size: cover;
    background-position: 0 0; 
    background-repeat:no-repeat; 
}

/* .weather {
    margin-right: 900px;
} */