form {
    margin-top: 3rem;
    display: inline-block;
}

.form-control{
    margin:0;
}

form input[name="city"] {
    background-color: #F2F2F2;
    height: 35px;
    border-radius: 5px;
    color: #979797;
    border: 0;

    /* border-bottom: 2px solid whitesmoke; */

}

form input:focus {
    background-color: transparent;
    box-shadow: none !important;
}

.button {
    /* margin-left: 15px; */
    border-radius: 5px;
    height: 35px;
    border: 2px solid rgb(197, 143, 143);
    color: white;
    background-color: rgb(197, 143, 143);
    
}

.buttonClass {
    overflow: visible;
    align-items: center;
}

.container{
    align-items: center;
}

.input-row{
    display: block;
    align-items: center;
}

.text-box{
    align-items: center;
    display: center;
}

.button:hover {
    background-color: rgb(197, 143, 143);
    border: 2px solid transparent;
    color: white;
}


.alert {
    color: red;
}

.form-control {
    border-width: 3px;
    border-color: black;
}
