form {
    margin-top: 1rem;
}

form input[name="city"] {
    background-color: white;
    width: 175px;
    height: 35px;
    border-radius: 5px;
    border-color: black;
    color: black;
    border: 0;
    /* border-bottom: 2px solid whitesmoke; */

}

form input:focus {
    background-color: transparent;
    box-shadow: none !important;
}

.button {
    /* margin-left: 15px; */
    border-radius: 5px;
    width: 175px;
    height: 35px;
    border: 2px solid rgb(197, 143, 143);
    color: white;
    background-color: rgb(197, 143, 143);
    
}

.buttonClass {
    overflow: visible;
    align-items: center;
}

.input-row{
    display: block;
    align-items: center;
}

.text-box{
    align-items: center;
}

.button:hover {
    background-color: rgb(197, 143, 143);
    border: 2px solid transparent;
    color: white;
}

.form-control {
    border-width: 3px;
    border-color: black;
}


.alert {
    color: red;
}