.temperature {
    color: white;
    font-size: 100px;
    font-weight: normal;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

.minmax {
    margin-left: 0px;
    margin-bottom: 70px;
}