.temperature {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-left: 0px;
    margin-top: -25px;
    text-align: center;
}

.minmax {
    margin-left: 0px;
}

.vision {
    color: white;
    margin-left: 0px;
    text-align: left;
    margin-top: -15px;
    font-weight: normal;
}

.humid {
    color: white;
    margin-left: 0px;
    text-align: left;
    font-weight: normal;
}

.wind_speed{
    color: white;
    text-align: left;
    font-weight: normal;
}

p{
    text-align: left;
    font-size: smaller;
}