.cards {
    color: white;
}
.py-2 {
    font-size: 100px;
}

i {
    font-size: 25vh;
    margin-bottom: 5%;
}

.description{
    padding-left: 0;
}

/* .description {
    margin-bottom: 00px;
} */
/* 
.city {
    position: absolute;
    margin-top: -20px;
} */